<div class="col-md-8">
<% if @spots.any? %>
  <h3>エキサイトプレイス一覧 (<%= @spots.count %>)</h3>
  <% @spots.map do |spot| %>
    <%= "ID: #{spot.id}" %>
    </br> 
    <%= "TITLEd: #{spot.title}" %>
    </br>
    <%= "MOOD: #{spot.mood}" %>
    </br>
    <%= "DESCRIPTION: #{spot.description}" %>
    </br>
    <%= "LATITUDE: #{spot.latitude}" %>
    </br>
    <%= "LONGITUDE: #{spot.longitude}" %>
    </br>
    <%= "IS_EXCITE_MAP?: #{spot.is_excite_place}" %>
    </br>
    <%= image_tag spot.picture.url, :size =>'150x150' unless spot.picture.url.nil? %>
    </br>
    <%= "USER: #{User.find_by(id: spot.user_id).email}" %>
    </br>
    <% if user_signed_in? %>
        <% if current_user.admin %>
            <%= button_to 'delete', spot, method: :delete, data: { confirm: "You sure?" } %>
        <% end %> 
    <% end %>
    </br>
  <% end %>
<% else %>
    <h3>not found</h3> 
<% end %>
</div>